<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
</head>
<body>
<!-- Navigation Bar -->
<div th:replace="fragments/navBar :: navBar"></div>
<!-- Side Bar -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <div th:replace="fragments/sideBar :: sideBar"></div>
        </div>
        <div class="col-md-10">
            <!-- Main Content -->
            <div th:replace="fragments/Vehicule/tableVehicule :: tableVehicule"></div>
        </div>
    </div>
</div>
<div th:replace="fragments/Vehicule/infosVehicule :: infosVehicule"></div>
<div th:replace="fragments/Vehicule/addVehicule :: addVehicule"></div>
<div th:replace="fragments/Vehicule/updateVehicule :: updateVehicule"></div>
<!-- Link to Bootstrap and jQuery scripts -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
