body{
    background-image: url("../image/BackAddReserv.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1{
    width: 70%;
}
.card{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}
.card-header{
    background-color: white;
    border-radius: 10px;
    color: white;"
}